# Copy this file to .env.local and fill your real keys.
# Do NOT commit .env.local to Git.

# Optional: deepseek | gemini
VITE_AI_PROVIDER=gemini

VITE_GEMINI_API_KEY=
VITE_GEMINI_MODEL=gemini-2.5-flash
VITE_GEMINI_ENDPOINT=https://api.302.ai/v1
VITE_GEMINI_IMAGE_MODEL=gemini-2.5-flash-image
VITE_GEMINI_IMAGE_ENDPOINT=https://generativelanguage.googleapis.com/v1beta/models
